# **Absenteeism**

In [25]:
import numpy as np 
import pandas as pd

In [26]:
raw_csv_data=pd.read_csv('Absenteeism_data.csv')
raw_csv_data.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [27]:
raw_csv_data.shape

(700, 12)

In [28]:
raw_csv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

It doesn't contain null values

In [29]:
#making the copy of raw csv data
df=raw_csv_data.copy()
df.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2

In [30]:
# pd.options.display.max_columns = None
# pd.options.display.max_rows = None
# display(df)

It is a type of a regression model whose dependent variable is binary. That is, the latter can assume one of two values – 0 or 1, True or False, Yes or No. 

Therefore, considering the values of all our features, we want to be able to predict whether the dependent variable will take the value of 0 or 1.


Apart from logistic regression, there are many other types of equations that allow you to calculate the dependent variable in a different way. 
Logistic regression is just one of them – and it is one that has been used massively.

you would most often hear professionals say that they are trying to find a regression model, or, simply, find a regression, that has a high predictive power. In other words, what they are trying to do is settle upon an equation that could be used to estimate expected values for the dependent variable with great precision.

Absenteeism Time in Hours is a dependent variable and other features are independent variables.

#### **Dropping ID**

- It will certainly harm the precision of the estimation which is used to distinguish from one another.

In [33]:
df=df.drop(['ID'],axis=1)
df.head()

,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,23,23/07/2015,289,36,33,239.554,30,1,2,1,2